@charset "UTF-8";

.table-wrapper {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}

h1 {
    color: #333;
    font-size: 1.4em;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}